# Input:
#receptor = 1jsn_mod.pdbqt 
#ligand = SIAtoSIA2.pdbqt

# Search Space:
center_x = 84.467
center_y = -21.543 
center_z = 55.592 

size_x = 20
size_y = 20 
size_z = 20

# Output:
#all = siatosia2_1jsn_mod_all.pdbqt
log = siatosia2_1jsn_mod.out

# Misc:
cpu = 7
#exhaustiveness = 100 
num_modes = 10
